<tr>
  <th scope="row">{{id}}</th>
  <td>{{name}}</td>
  <td>{{year}}</td>
  <td>{{rank}}</td>
  <td><a href="/delEntry/{{this.id}}" type="button" class="btn btn-danger">
      <img src="/assets/delete.svg" alt="trash icon" />
    </a></td>
  <td><button
      type="button"
      class="btn btn-warning updateBtn"
      data-bs-toggle="modal"
      data-bs-target="#updateMod"
      name="{{id}}"
    >
      <img
        src="/assets/Update.svg"
        width="50%"
        height="50%"
        alt="update icon"
      />
    </button></td>
</tr>